@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    /* COULEUR ORANGE */
    --globalOrange: #FF6100;
    --globalOrangeRGB: rgba(255, 97, 0, 1) ;
    --light-varianteOrange: #FFA46E;
    --ultra-light-orange: #FFC4AA;

    /* BLANC et BLANC CASSE */
    --my-white: #FFFFFF;
    --my-weight-white: #E4E4E4;

    --background-color: #F6F6F6;

    /* BLACK et GREY */
    --my-black: #202020;
    --my-grey: #EFEFEF;
    --my-light-grey: #B1B1B1;

    --text-color-theme : #FA5F02;
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

.container-realisation{
    width: 100%;
}

.header-realisation {
    background: url("../assets/background/reference.svg") no-repeat center;
    background-size: contain;
}

.my-element{
    display: flex;
    flex-direction: row;
    width: 84%;
    margin: 50px auto;
    /*border: 1px solid red;/**/
}

.my-element .article-title{
    color: #FF6100;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
}

.my-element-elem{
    width: 300px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--globalOrange);
    /*border: 1px solid green;/**/
}

.my-element-elem a, .my-element-elem a:visited{
    color: var(--text-color-theme);
}

.my-element-elem .my-img{
    width: 100%;
    /*border: 1px solid blue;/**/
}

.my-element-elem h2{
    margin-bottom: 2px;
}

.my-element-elem-left .left-elem{
    text-align: left;
    display: flex;
    flex-direction: column;
    padding-left: 0;
}

.my-element-elem-right{
    flex: 1 1 200px;
}



.consulter{
    width: 30%;
    height: 30px;
    margin-top: 5px;
    margin-left: -4px;
    background: url("../assets/components/en_savoir_plus.png") no-repeat left;
    background-size: contain;
    /*border: 1px solid red;/**/
}