<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ID=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="Patrice LARMOYER" content="">
    <link rel="icon" type="image/svg" href="../../assets/logo/logo2.svg" />
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/mobile.css">
    <link rel="stylesheet" type="text/css" href="../../css/references.css">
    <title>Référence</title>
</head>
<body>

    <header class="my-header header-pages header-reference">
        <img src="../../assets/background/reference.svg" alt="photo_référence" title="photo_référence">

        <!-- NAVIGATION BAR -->
        <nav class="header-nav-bar">
            <div class="header-nav-bar-humburger">
                <div class="humburger-bar humburger-bar-first"></div>
                <div class="humburger-bar humburger-bar-sec"></div>
                <div class="humburger-bar humburger-bar-third"></div>
            </div>

            <ul class="menu-coulissant">
                <li><a href="../../index.html" class="link link-nav-bar">ACCUEIL</a></li>
                <li><a href="index.html" class="link link-nav-bar">REFERENCES</a></li>
                <li><a href="../../views/prestation/index.html" class="link link-nav-bar">PRESTATIONS</a></li>
                <li><a href="../../views/contact/index.html" class="link link-nav-bar">CONTACT</a></li>
            </ul>

            <div class="menu">
                <div class="logo"></div>
                <ul>
                    <li><a href="../../index.html" class="link link-nav-bar">ACCUEIL</a></li>
                    <li><a href="index.html" class="link link-nav-bar">REFERENCES</a></li>
                    <li><a href="../../views/prestation/index.html" class="link link-nav-bar">PRESTATIONS</a></li>
                    <li><a href="../../views/contact/index.html" class="link link-nav-bar">CONTACT</a></li>
                </ul>
            </div>
        </nav>
        <!-- NAVIGATION BAR END -->

        <!-----------------------------------
            BLOC CONTENANT LE TITRE D'ACCUEIL
            ----------------------------------->
        <div class="logo-and-title">
            <h1 class="link">
                <!--
                    Si vous voulez ajouter un titre directement
                    dans la page
                -->
            </h1>
        </div>

    </header>

    <main class="container">

        <p class="top">
            Fort d’une longue expérience diversifiée,
            j’ai été amené à piloter des projets de toutes natures et dans des environnements variés.
        </p>

        <h1 class="title-strong">Réalisations</h1>

        <p class="top">
            Pour en savoir plus sur quelques exemples de projets appliqués au management
            de la Performance par la Qualité et l’Efficacité des Processus
        </p>

        <div class="my-element">
            <div class="my-element-elem my-element-elem-left">
                <img src="../../assets/logo/logo2.svg" class="left-elem my-img">
                <a href="http://www.smoothndesign.fr" class="left-elem">smoothndesign.fr</a>
                <p class="left-elem">contact : M. xxx</p>
            </div>
            <div class="my-element-elem my-element-elem-right">
                <h2>title</h2>
                <p>
                    content
                </p>
            </div>
        </div>

        <div class="my-element">
            <div class="my-element-elem my-element-elem-left">
                <img src="../../assets/logo/logo2.svg" class="left-elem my-img">
                <a href="http://www.smoothndesign.fr" class="left-elem">smoothndesign.fr</a>
                <p class="left-elem">contact : M. xxx</p>
            </div>
            <div class="my-element-elem my-element-elem-right">
                <h2>title</h2>
                <p>
                    content
                </p>
            </div>
        </div>

        <div class="my-element">
            <div class="my-element-elem my-element-elem-left">
                <img src="../../assets/logo/logo2.svg" class="left-elem my-img">
                <a href="http://www.smoothndesign.fr" class="left-elem">smoothndesign.fr</a>
                <p class="left-elem">contact : M. xxx</p>
            </div>
            <div class="my-element-elem my-element-elem-right">
                <h2>title</h2>
                <p>
                    content
                </p>
            </div>
        </div>
    </main>

    <footer class="main-footer">
        <ul class="footer-elem footer-row">
            <h2>NICE</h2>
            <li>Adresse Email</li>
            <li>Adresse</li>
            <li>Telephone Fixe</li>
        </ul>
        <ul class="footer-elem footer-row footer-elem-social">
            <h2>MES RESEAUX</h2>
            <li class="social social-linkedin">linkedin</li>
            <li class="social social-instagram">Instagram</li>
        </ul>
        <ul class="footer-elem footer-row">
            <h2 >FLUX LINKEDIN</h2>
        </ul>
    </footer>

</body>
</html>