<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="ID=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="Patrice LARMOYER" content="">
    <link rel="icon" type="image/svg" href="../../assets/logo/logo2.svg" />
    <link rel="stylesheet" type="text/css" href="../../css/style.css">
    <link rel="stylesheet" type="text/css" href="../../css/mobile.css">
    <link rel="stylesheet" type="text/css" href="../../css/prestation.css">
    <title>Prestation</title>
</head>
<body>

<header class="my-header header-pages header-reference">
    <img src="../../assets/background/prestation.svg" alt="photo_référence" title="photo_référence">

    <!-- NAVIGATION BAR -->
    <nav class="header-nav-bar">
        <div class="header-nav-bar-humburger">
            <div class="humburger-bar humburger-bar-first"></div>
            <div class="humburger-bar humburger-bar-sec"></div>
            <div class="humburger-bar humburger-bar-third"></div>
        </div>

        <ul class="menu-coulissant">
            <li><a href="../../index.html" class="link link-nav-bar">ACCUEIL</a></li>
            <li><a href="../realisation/index.html" class="link link-nav-bar">REALISATIONS</a></li>
            <li><a href="index.html" class="link link-nav-bar">PRESTATIONS</a></li>
            <li><a href="../../views/contact/index.html" class="link link-nav-bar">CONTACT</a></li>
        </ul>

        <div class="menu">
            <div class="logo"></div>
            <ul>
                <li><a href="../../index.html" class="link link-nav-bar">ACCUEIL</a></li>
                <li><a href="../realisation/index.html" class="link link-nav-bar">REALISATIONS</a></li>
                <li><a href="index.html" class="link link-nav-bar">PRESTATIONS</a></li>
                <li><a href="../../views/contact/index.html" class="link link-nav-bar">CONTACT</a></li>
            </ul>
        </div>
    </nav>
    <!-- NAVIGATION BAR END -->

    <!-----------------------------------
        BLOC CONTENANT LE TITRE D'ACCUEIL
        ----------------------------------->
    <div class="logo-and-title">
        <h1 class="link">
            <!--
                Si vous voulez ajouter un titre directement
                dans la page
            -->
        </h1>
    </div>

</header>

<main class="container">
    <div class="title-bloc">
        <p class="top">
            La définition des projets et prestations est par nature variable en fonction du besoin.
            Ils feront l’objet d’un plan taillé sur mesure, pour cibler au mieux l’intervention
        </p>

        <h1 class="title-strong">Audit</h1>

        <div class="title-description">
            <p class="top">
                Evaluer sa conformité aux référentiels normatifs, vérifier l’adéquation du système
                aux exigences des parties prenantes,
                ou s’assurer que l’exécution est conforme au système,
                est un point de départ pour l’établissement des plans d’amélioration PDCA
            </p>
        </div>
    </div>

    <div class="blog-card">
        <img src="../../assets/prestations/audit.svg" alt="audit_texte" title="audit_text"/>
    </div>

    <div class="title-bloc">
        <h1 class="title-strong">Conseil et Accompagnement</h1>

        <div class="title-description">
            <p class="top">
                Ces actions conduites en mode formation ou en projet, conduisent à des transformations.
                Le savoir-faire de pla development en Management du changement permet d’aller
                jusqu’à l’implémentation et l’obtention des résultats
            </p>
        </div>

    </div>

    <div class="blog-card">
        <img src="../../assets/prestations/conseil_et_accompagnement.svg" alt="conseil_et_accompagnement" title="conseil_et_accompagnement"/>
    </div>

</main>

<footer class="main-footer">
    <ul class="footer-elem footer-row">
        <h2>NICE</h2>
        <li><a href="mailto: patrice.larmoyer@gmail.com">patrice.larmoyer@gmail.com</a></li>
        <li><a href="tel:+33 (0)6 2582 4649">+33 (0)6 2582 4649</a></li>
    </ul>
    <ul class="footer-elem footer-row footer-elem-social">
        <h2>MES RESEAUX</h2>
        <li class="social social-linkedin"><a href="www.linkedin.com/in/patrice-larmoyer"><img src="../../assets/logo/linkedin.svg" alt="logo_linkedin_pla_development" title="logo_linkedin_pla_development"></a></li>
        <li class="social social-instagram"><a href="#"><img src="../../assets/logo/instagram.svg" alt="logo_instagram_pla_development" title="logo_instagram_pla_development"></a></li>
    </ul>
    <!--
        <ul class="footer-elem footer-row">
            <h2 >FLUX LINKEDIN</h2>
        </ul>
    -->
</footer>

</body>
</html>